<header fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex *ngIf="!searchExpanded">
    <button mat-icon-button fxHide.gt-sm (click)="onMenuToggle.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="brand" routerLink="/">
      <img [src]="logoUrl" />
      <span>{{ appName | translate }}</span>
    </a>
  </div>
  <app-search (onSearchExpanded)="searchExpanded = $event" [ngClass]="searchExpanded ? 'search-expanded' : 'search-collapsed'"></app-search>
</header>
<div>
  <p style="text-align: center;margin-left: 166px; color: cornflowerblue;">Important Note: This blockchain explorer is for exploring Arisen`s test network. Arisen`s main network officially launches April 16th, 2020. Follow the countdown to click<a target='blank' href='https://arisen.network' style="color: wheat;"> here</a></p>
</div>
