:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

app-header {
  height: 70px;
}

mat-sidenav-container {
  padding-top: 70px;
  height: 100%;
}

mat-sidenav {
  width: 200px;
}


@media only screen and (max-width : 700px) {
  mat-sidenav-container {
    padding-top: 120px !important;
  }

  .top120{
    top: 120px !important;
  }
}
